.app-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: #eee;
}

.header-title {
  font-size: 1.5em;
}

.app-content {
  font-size: large;
  padding: 2em;
}

.app-footer {
  text-align: center;
  background-color: #222;
  color: #eee;
  padding: 10px;
}

/* .notification {
  text-align: center;
} */

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

.repo, .issue {
  margin: 10px;
}

.issue-body {
  /* background-color: #eee; */
  cursor: pointer;
}

#repos-content {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  list-style: none;
}

#issue-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
}

#issue-list li {
  max-width: 30%;
  flex: 0 1 30%;
  /* margin: 10px 0px; */
}

#issue-list li div button {
  min-width: 85%;
  max-width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  display: flex; /* this makes both title and price tag fit...!*/
  border: none;
  padding: 5px;
  outline: none;
  background: inherit;
}

#issue-list .issue-title {
  max-width: 100%;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  font-size: 18px;
}

#issue-list .price {
  margin-left: auto;
  color: green;
  font-weight: bold;
  padding: 3px;
  font-size: 16px;
}